openapi: 3.1.0
info:
  title: American Airlines Runway Developer Bookings API
  description: The American Airlines Runway Developer API provides access to flight operations, booking, scheduling, and travel services data.
  version: 1.0.0
  contact:
    name: American Airlines
    url: https://developer.aa.com/
servers:
- url: https://developer.aa.com/api
  description: Production
tags:
- name: Bookings
  description: Booking management operations
paths:
  /bookings:
    post:
      operationId: createBooking
      summary: Create Booking
      description: Create a new flight booking.
      tags:
      - Bookings
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookingRequest'
      responses:
        '201':
          description: Booking created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Booking'
  /bookings/{bookingId}:
    get:
      operationId: getBooking
      summary: Get Booking
      description: Retrieve a specific booking.
      tags:
      - Bookings
      parameters:
      - name: bookingId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Booking'
components:
  schemas:
    Booking:
      type: object
      properties:
        id:
          type: string
        flightId:
          type: string
        passengers:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              seatNumber:
                type: string
        status:
          type: string
    BookingRequest:
      type: object
      properties:
        flightId:
          type: string
        passengers:
          type: array
          items:
            type: object
            properties:
              firstName:
                type: string
              lastName:
                type: string
