openapi: 3.1.0
info:
  title: American Airlines Runway Developer Bookings Flights API
  description: The American Airlines Runway Developer API provides access to flight operations, booking, scheduling, and travel services data.
  version: 1.0.0
  contact:
    name: American Airlines
    url: https://developer.aa.com/
servers:
- url: https://developer.aa.com/api
  description: Production
tags:
- name: Flights
  description: Flight information and status operations
paths:
  /flights:
    get:
      operationId: getFlights
      summary: Get Flights
      description: Retrieve flight information and schedules.
      tags:
      - Flights
      parameters:
      - name: origin
        in: query
        schema:
          type: string
      - name: destination
        in: query
        schema:
          type: string
      - name: date
        in: query
        schema:
          type: string
          format: date
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlightList'
  /flights/{flightId}/status:
    get:
      operationId: getFlightStatus
      summary: Get Flight Status
      description: Retrieve the status of a specific flight.
      tags:
      - Flights
      parameters:
      - name: flightId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlightStatus'
components:
  schemas:
    FlightList:
      type: object
      properties:
        flights:
          type: array
          items:
            $ref: '#/components/schemas/Flight'
    FlightStatus:
      type: object
      properties:
        flightId:
          type: string
        status:
          type: string
        gate:
          type: string
        delay:
          type: integer
    Flight:
      type: object
      properties:
        id:
          type: string
        flightNumber:
          type: string
        origin:
          type: string
        destination:
          type: string
        departureTime:
          type: string
          format: date-time
        arrivalTime:
          type: string
          format: date-time
        status:
          type: string
